@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Source+Sans+Pro:400,600,700,900');
/* se eu colocar essa tag aqui (@import no google fonts), não preciso colocar mais nada no html) */

.menu.container{
	width: 1140px;
	margin: 0 auto; /*para alinhar ele todo no centro*/
}

.linha{
	display: flex; /* para posicionar as coisas lado a lado*/
	}
	
.linha.espacoEntre{ /*um elemento que tem linha E espacoEntre*/
	justify-content: space-between;
}

.linha.alinharVertical{
	align-items: center;
}


ul{
	list-style-type: none; /*para tirar as bolinhas nos itens da lista*/
}
#cabecalho {
	width: 100%;
	position: fixed; /*fixed torna a tag fixa e deve ser acompanhada de mais um atributo: top, left, right e/ou bottom*/
	top: 0px;
	left: 0px;
	z-index: 10; /*z-index só funciona com a propriedade "position */
}
#cabecalho.ativo {
	background-color: purple;
}

#cabecalho.ativo .vertical{
	display: none;
}

#cabecalho.ativo .horizontal{
	display: block;
}

#cabecalho.ativo a{
	color: white;
}

#cabecalho .container{ /* tem espaço antes do ponto pq significa que está procurando uma tag container que está dentro de cabecalho*/
	height: 70px;
	} 

#cabecalho a{ /* "todo a que estiver dentro do id cabeçalho receberá as seguintes propriedades: " */
	color: white;
	text-decoration: none;
}

.menu:before, .menu:after{
	display: none;
}


.menuHorizontal ul{
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}


.botao.menuHamburguer{
	background: none;
	display: none;
}


/*.menuHorizontal a{
	padding: 0 20px;
}*/

.logotipo {
	opacity: 0;
}

.logotipo.vertical {
	width: 200px;
	margin-top: 120px;
}

#cabecalho.ativo .logotipo.horizontal {
	opacity: 1;
}

#cabecalho:not(.ativo) .logotipo.vertical { /* selecionando o que não tem a classe ativo*/
	opacity: 1;
} 


.logotipo.horizontal{
	display: none;
	height: 60px;
	width: 200px;
}


.menuHorizontal.ladoDireito{
	padding-left: 20px;
}

.list-inline .menu{
	padding: 15px;
}

.list-inline .menu:hover{
	border-bottom: solid 3px white;
	color: rgb(255, 132, 155);
}

#abertura {
	height: 100vh;
    background: url("../imgs/img_abertura.jpg") no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*#abertura img{
	height: calc(100vh - 70px); vh = área de visualização do site na sua tela (o que aparece antes de vc dar o primeiro scrow) / 100 = porcentagem da view port / 100vh - 50px pq colocamos 50px de padding top no body, lá em cima 
	width: 100vh;
	padding-top: 0px;
	position: relative;
	height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}*/

#abertura h1{
	font-family: "Quicksand";
	font-size: 80px;
	color: white;
}


.botao {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 7px 20px;
	border: solid 2px #ffffff;
	border-radius: 20px;
	background: none;
	cursor: pointer;
	color: #ffffff;
}

.botao.cadastre-se{
	background: rgb(255, 132, 155);
	border: solid 2px #ffffff;
	color: #ffffff;
}

.botao.cadastre-se:hover,
.botao.login:hover{
	border: solid 2px rgb(255, 132, 155);
	color: rgb(255, 132, 155);
	background: #ffffff;
}



.botao.redesSociais{
	border-radius: 100%;
	font-size: 14px;
    padding: 7px 7px;
    width: 38px;
}

.botao.redesSociais:hover{
	border: solid 2px rgb(255, 132, 155);
	color: rgb(255, 132, 155);
	background: #ffffff;
}



#section{
	font-family: "Source Sans Pro";
	font-size: 14px;
}

	.tituloSection{
			font-family: "Quicksand";
			color: purple;
			font-size: 30px;
			font-weight: 700;
			padding-bottom: 30px;
			text-align: center;
		}


.porqueBordado,
.tutoriais,
.newsletter{
	padding: 60px 0;
	text-align: center;
}

.newsletter{
	background: rgb(210, 156, 210);
}

.col-md-8.col-md-offset-2 .pNewsletter{
	color: white;
}
	
.comoColaborar .col-md-6{
	
	text-align: center;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.col-md-6.queroContar{
	background-image: url("../imgs/contar-historia.jpg");
	background-size: cover;
	    padding-left: 0px;
    padding-right: 0px;
}

.efeito{
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.col-md-6.queroContar .efeito:hover{
	color: rgb(255, 132, 155);
	background: rgba(255, 255, 255, 0.7);
}

.col-md-6.queroBordar .efeito:hover{
	color: rgb(255, 132, 155);
	background: rgba(255, 255, 255, 0.7);
}


.col-md-6.queroBordar{
	background-image: url("../imgs/bordar-historia.jpg");
	background-size: cover;
	    padding-left: 0px;
    padding-right: 0px;
}



.col-md-6.queroBordar img{
    height: 90px;
    padding-left: 15px;
    
}

.col-md-6.queroContar img{
	height: 90px;
	padding-left: 25px;
}


a.thumbnail{
	width: 260px;
}

p{
	margin: 0 0 0px;
}

.pSection{
	text-align: center;
}
.pSection.tutorial{
	padding-bottom: 60px;
}


iframe{
	padding: 0 20px;
}

#parallaxImg img{
	width: 100%;
	height: 300px;
}

.imgParallax{
	object-fit: cover;
	width: 100%
}

.email{
	padding: 20px 0px;
}

input{
	border: none;
}
.campoEmail{
	text-align: center;
	align-self: center;
	color: white;
	max-width: 350px;
	width: 100%;
	padding: 10px 0px;
	background: none;
	border-bottom: 2px solid #ffffff;

}

#section.footer{
	padding: 50px 0px;
	background: purple;
}

.col-md-8.col-md-offset-2.footer .logotipoFooterCentralizado{
	display: flex;
	justify-content: center;
	align-content: center;
}



.logotipoFooterCentralizado img{
	height: 150px;
}

.contatosCentralizado .contato{
	text-align: center;
}

.col-md-8.col-md-offset-2.footer .redesSociaisFooter{
	display: flex;
	justify-content: center;
	align-content: center;
}





/* INÍCIO QUERO BORDAR */

.bordarHistorias {
	display: none;
}

.bordarHistorias.ativo {
	display: block;
}

.bordarHistorias .col-md-4.passo1{
	background: purple;
	
}

.bordarHistorias .col-md-4.passo2{
	background: rgba(128, 0, 128, 0.96);
}

.bordarHistorias .col-md-4.passo3{
	background: rgba(128, 0, 128, 0.92);
}

.bordarHistorias .col-md-4.passo3{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textoPassoAPasso1{
	padding: 20px 70px 70px 70px;
}

.textoPassoAPasso2{
	padding: 130px 70px 70px 70px;
}

.textoPassoAPasso3{
	padding: 20px 70px 70px 70px;
}

.bordarHistorias .iconeBordarPequeno{
	height: 40px;
	margin-left: 70px;
	margin-top: 70px;
}

.bordarHistorias .col-md-4 h3{
	color: rgba(247, 247, 247, 0.33);
	font-size: 50px;
}

.bordarHistorias .col-md-4 h4{
	color: rgba(247, 247, 247, 0.33);
	font-size: 30px;
}

.bordarHistorias .col-md-4 p{
	color: white;
}

.botaoFechar{
	background: transparent;
	border: none;
	margin-right: 70px;
	margin-top: 70px;
}

.botaoFechar img{
	height: 38px;
}

/* FIM QUERO BORDAR */


/* INÍCIO QUERO CONTAR */

.contarHistorias {
	display: none;
}

.contarHistorias.ativo {
	display: block;
}

.contarHistorias .col-md-4.passo1{
	background: purple;
	
}

.contarHistorias .col-md-4.passo2{
	background: rgba(128, 0, 128, 0.96);
}

.contarHistorias .col-md-4.passo3{
	background: rgba(128, 0, 128, 0.92);
}

.contarHistorias .col-md-4.passo3{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textoPassoAPasso1{
	padding: 20px 70px 70px 70px;
}

.textoPassoAPasso2{
	padding: 130px 70px 70px 70px;
}

.textoPassoAPasso3{
	padding: 20px 70px 70px 70px;
}

.contarHistorias .iconeContarPequeno{
	height: 40px;
	margin-left: 70px;
	margin-top: 70px;
}

.contarHistorias .col-md-4 h3{
	color: rgba(247, 247, 247, 0.33);
	font-size: 50px;
}

.contarHistorias .col-md-4 h4{
	color: rgba(247, 247, 247, 0.33);
	font-size: 30px;
}

.contarHistorias .col-md-4 p{
	color: white;
}

.botaoFechar{
	background: transparent;
	border: none;
	margin-right: 70px;
	margin-top: 70px;
}

.botaoFechar img{
	height: 38px;
}


/* FIM QUERO CONTAR */








/*#cabecalho.ativo {
	background-color: rgb(255, 132, 155);
}

#cabecalho.ativo .vertical{
	display: none;
}

#cabecalho.ativo .horizontal{
	display: block;
}*/



/*TABLET*/
@media (max-width: 1140px){ /* esse é o momento em que o layout se transforma */
	.container{
		max-width: 700px;
		width: 100%;
	}

	.menu.container{
		max-width: 100%; /*para anular o max widht que eu usei acima nesse cara */
	}

	h1{
		font-size: 15px;
	}

	.botao.menuHamburguer{
		display: block;
	    position: relative;
		z-index: 1;
	}


	#cabecalho .container{
		position: relative;
	}

	#navegacaoPrimaria{
		position: absolute;
		display: none;
	    top: 0;
	    justify-content: center;
	    width: 100vw;
	    height: 100vh;
	    left: 0;
	    background-color: purple;
	    padding-top: 70px;

	}

	#navegacaoPrimaria ul{
		flex-direction: column;
		display: flex;
    	text-align: center;
	}

	.ladoEsquerdo.linha.espacoEntre.alinharVertical{
		display: none;
		position: absolute;
		top: 275px;
		left: 0;
		width: 100vw;
		background-color: purple;


	}
	.ladoEsquerdo.linha.espacoEntre.alinharVertical.ativo {
		display: block;
	}

	#navegacaoRedesSociais,
	#login {
		text-align: center;
		padding-top: 12px;
	}

/*
	#navegacaoPrimaria a{
		display: block;
		padding: 20px 0px;
		padding-left: 20px;
		background: white;
		color: #282828;
	}*/

	.visivel{
		display: block !important;
	}

	.logotipo {
	opacity: 0;
	}

	.logotipo.vertical {
		width: 200px;
		margin-top: 120px;
	}

	#cabecalho.ativo .logotipo.horizontal {
		opacity: 1;
	}

	#cabecalho:not(.ativo) .logotipo.vertical { /* selecionando o que não tem a classe ativo*/
		opacity: 1;
	} 


	.logotipo.horizontal{
		display: none;
		height: 60px;
		width: 200px;
		z-index: 10;
	}

}
/* FIM TABLET*/